body {

	background-color: #1C1C1C

}

#map {
	width: 75%;
	height: 900px;
}

img {
	margin-top: 22%;
	display: block;
	float: right;
	margin-right: 7%;
	width: 10%;
}

p {
	text-align: center;
	font-size: 22pt;
	color: white;
}


.button {
	margin: 10 auto;
	max-width: 20%;
	min-width: 10%;

}

#option {
	margin-top: 2%;
	height: 3em;
	border-radius: 3em;
	color: white;
	background-color:#FF8000;
	font-family:courier;
}